<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>516065574556-c0n8v4cmj1k8rcqktl7o9oldtbed94b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516065574556-c0n8v4cmj1k8rcqktl7o9oldtbed94b0</string>
	<key>API_KEY</key>
	<string>AIzaSyCeFK59Bki_yrao3Zmp5M5xHb4dg496WmM</string>
	<key>GCM_SENDER_ID</key>
	<string>516065574556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aziz.BLEDemo</string>
	<key>PROJECT_ID</key>
	<string>engr697fixed</string>
	<key>STORAGE_BUCKET</key>
	<string>engr697fixed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516065574556:ios:c444d9c343d7f93f</string>
	<key>DATABASE_URL</key>
	<string>https://engr697fixed.firebaseio.com</string>
</dict>
</plist>